<div class="mfa-container">
 <%= form_tag user_mfa_session_path, method: :post, class: "search-form", role: "search" do %>
   <div class="form-group">
     <%= label_tag "Token", 'Google Authenticator code'%>
     <%= text_field_tag 'mfa_code', params[:mfa_code], class: "form-control form-control-line" %>
   </div>
   <%= submit_tag 'Log In', class: "btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600" %>
 <% end %>
  <%= image_tag(@link) do %>
  <% end %>
</div>

