<div class="row">
    <h1><%= @current_user.username %>'s Dashboard</h1>

    <h2>Loans</h2>
    <% if @loans.any? %>
    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Loan Amount</th>
                <th>Loan Status</th>
            </tr>
        </thead>
        <tbody>
            <% @loans.each do |loan| %>
                <tr>
                    <td><%= loan.company_name %></td>
                    <td><%= loan.loan_amount %></td>
                    <td><%= loan.loan_status %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% else %>
        <p>No loans found</p>
    <% end %>

</div>

<hr>

<div class="row">
    <h1>Products dashboard</h1>
    <div class= "col">
        <h2>First product</h2>
        <form class="justify-content-end">
            <button class="btn btn-lg btn-outline-danger me-2" type="button">
                <%= link_to 'Application', application_path %>
            </button>
        </form>
    </div>

    <div class= "col">
        <h2>Second product</h2>
        <form class="justify-content-end">
            <button class="btn btn-lg btn-outline-danger me-2" type="button">
                <%= link_to 'Application', application_path %>
            </button>
        </form>

    </button>
    </div>
</div>