
<div class="login-container">
<h1> Register to Funding Circle</h1>

<%= form_with model: @user, url: login_path, local: true do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div>
        <%= form.label :username %>
        <%= form.text_field :username, required: true %>
    </div>
    
    <div>
        <%= form.label :email %>
        <%= form.text_field :email, required: true %>
    </div>


    <div>
        <%= form.label :password %>
        <%= form.password_field :password, required: true %>
    </div>

    <div>
        <%= form.label :password_confirmation, "Confirm Password" %>
        <%= form.password_field :password_confirmation, required: true %>
    </div>

    <div>
        <%= form.submit "Register" %>
    </div>
<% end %>
</div>