
<div id="register-container" class="container">

    <div id="#register-row-1" class="row">
        
        <div id="register-col-left" class="col-md-6">

            <h1 id="register-to-FC"> Register to Funding Circle</h1>

            <%= form_with model: @user, url: register_path, local: true do |form| %>
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                        <ul>
                            <% @user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>


                <div class="row">
                    <%= form.label :username %>
                    <%= form.text_field :username, required: true %>
                </div>
                
                <div class="row">
                    <%= form.label :email %>
                    <%= form.text_field :email, required: true %>
                </div>


                <div class="row">
                    <%= form.label :password %>
                    <%= form.password_field :password, required: true %>
                </div>

                <div class="row">
                    <%= form.label :password_confirmation, "Confirm Password" %>
                    <%= form.password_field :password_confirmation, required: true %>
                </div>

                <div class="row">
                    <%= form.submit "Register" %>
                </div>
            <% end %>

            <% if flash[:alert] %>
                <div class="alert alert-danger">
                    <%= flash[:alert] %>
                </div>
            <% end %>

        </div>

        <div id="register-col-right" class="col-md-6 d-none d-md-block">
        </div>

    </div>

</div>