<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

    <title><%= content_for(:title) || "Mckk" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <form class="justify-content-start">
          <a class="navbar-brand">
            <img src="/MCKK_logo.jpg" alt="Logo" width="80" height="74" class="d-inline-block">
          </a>
        </form>


        <form class="justify-content-end">
            <% if session[:user_id] && (request.path.start_with?('/users/') || (request.path == '/application')) %>
            
              <% @current_user = User.find_by(id: session[:user_id]) %>
              <%= link_to 'Dashboard', "/users/#{@current_user.id}", class: "btn btn-outline-info me-2" %>
              <%= link_to 'Apply', application_path, class: "btn btn-outline-info me-2" %>
              <%= link_to 'Sign out', logout_path, method: :delete, class: "btn btn-sm btn-outline-primary" %>
            <% end %>
        </form>

      </div>
    </nav>

    <%= yield %>
    
    <!-- Add flash message handling here -->
    <% if flash[:notice] %>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          alert("<%= flash[:notice] %>");  // This will show the flash message as a popup alert
        });
      </script>
    <% end %>



  </body>
</html>
