<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mckk" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <form class="container-fluid justify-content-start">
        <a class="navbar-brand">
          
          <img src="../../../MCKK_logo.png" alt="Logo" width="30" height="24" class="d-inline-block">
        </a>
      </form>
      <form class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button">Apply now</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Sign in</button>
      </form>
    </nav>

    <%= yield %>
  </body>
</html>
